/**
@use postcss-nested;
**/

$header-height: 240px;
$max-width: 450px;
$min-width: 240px;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calendar-widget {
  position: relative;

  display: inline-block;

  width: 100%;
  min-width: $min-width;
  max-width: $max-width;

  border: 1px solid transparent;

  box-shadow: 2px 2px 2px black;
}

.calendar-widget__header {

}

.calendar-widget__picture {
  width: 100%;
  
}
.calendar-widget__picture-frame {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio*/
  background-position: center center;
  background-size: cover;
}
.calendar-widget__title {
 text-align: center;
  font-size: 1.3em;
  padding: 12px 0;
  margin-bottom: 12px;
  box-shadow: 0 2px 5px black;
  text-transform: uppercase;
  font-weight: bold;
}
.calendar-widget__days {
  text-align: center;
  width: 100%;
}
.calendar-widget__day {

  height: 35px;
  cursor: pointer;

  &--has-event {
    color: salmon;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }

  &--is-from-another-month {
    color: lightgray;
  }
}

.calendar-widget__nav {
  padding: 0 32px;

  cursor: pointer;

  &--prev {
    float: left;

  &::before {
    content:"\25C3";
  }
    }
  &--next {
    float: right;
  &::before {
    content:"\25B6";
  }
    }
}

.calendar-widget__form {
  position: absolute;
  top: 0;

  width: 100%;
  height: $header-height;
  padding: 12px;
  overflow: hidden;

  background: white;

  transition: height 250ms ease-in-out, padding 250ms ease-in-out 250ms;

  &-input {
    font-size: 16px;
    width: 80%;

    &--is-small {
      width: 20%;
    }

    &--is-checkbox {
      width: auto;
    }

  }

  &-label {

  }

  &-row {
    margin-bottom: 6px;
  }

  &--is-hidden {
    height: 0;
    padding: 0;
  }
}
